 * {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding: 20px;
  margin: 0;
  background: darkturquoise;
  font-family: "URWGroteskLig   2", sans-serif;
}

h1{
  font-size: 3em;
  margin-bottom: 0;
  padding-bottom: 0;
  color: white;
}

.button {
  border: 1px solid #0082E5;
  width: 10em;
  padding: 1em;
  margin: 5px;
  border-radius: 10px;
  background: #87BFFF
}

.button:hover {
  background: #ADD7F6;
  color: white;
}
