/*
ACB3C5 grey blue
776A77 lavender
D7CECF light grey/beige
F3F1F6 anti flash white
DCD2DD light lanvender/rose
dbcedb diff shade rose

FFFFFF white
D2D7DF light grey
353535 jet
BDBBB0 shadows (light olive)
8A897C darker olive

D8DBE2 light grey
A9BCD0 pastel blue
58A4B0 cadet blue
373F51 charcoal
DAA49A pastal pink
*/

 * {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px;
  margin: 0;
  /* font-family: "URWGroteskLig   2", sans-serif; */
  font-family: "monaco", monospace;
  color: #373F51;
  /*  height: 100%;*/
}
.bgcontainer {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.bgcontainer img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
.myname{
    position: absolute;
    left: 60%;
    height: 100%;
    user-select: none;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: left;
    color: (244,244,244,0.8);
    width: 100vw;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0.25);
}
.content{
    position: absolute;
    left: 10%;
    height: 100%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100vw;
    font-size: 1.3em;
    flex-direction: column;
    padding: 0px 0px;
    background: rgba(0, 0, 0, 0.03);
}
#flipPic {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  width: 100%;
}

li a {
  display: block;
  color: #8A897C;
  padding: 30px 160px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(85,85,85,0.8);
  color: white;
}
li a.active {
  background-color: rgba(138,137,124,0.8);
  color: white;
}

body {
  margin: 0;
  font-family: "URWGroteskLig   2", sans-serif;
}

h1{
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left:160px;
  color: #8A897C;
}
h2{
  display: block;
  text-decoration: none;
  font-size: 2em;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left:160px;
  color: black;
}
p{
  color: #373F51;
  padding-bottom: 5px;
}

#work {
  justify-content:space-around;
  align-items:flex-start;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  padding-left: 20%;
  color: #373F51;
}

#work td, #work th {
  padding: 12px;
  align-items: right;
}

#work tr:nth-child(even){background-color: rgba(255,255,255,0.7);}

#work tr:hover {background-color: rgba(221,221,221,0.9);}

#work th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(138,137,124,0.8);
  color: white;
}
